{% load static %} {# same syntax as https://github.com/django/djangoproject.com/blob/master/djangoproject/templates/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guillotine</title>

  <!-- load vendor files (unclear if they have to load in this order) -->
  {% comment %}
    For full instructions, see:
    https://github.com/matiasgagliano/guillotine
  {% endcomment %}
  <script src="{% static 'guillotine/vendor/jquery/jquery-3.3.1.js' %}"></script>
  <script src="{% static 'guillotine/vendor/guillotine/jquery.guillotine.js' %}"></script>
  <link rel="stylesheet" href="{% static 'guillotine/vendor/guillotine/jquery.guillotine.css' %}">
  <!-- end load vendor files -->

</head>
<body>
  <!-- set the width of the parent element -->
  <div id="guillotine" style="width: 80%;">
    {# Is it sufficient to treat the image path as the URL? #}
    <img id="guillotine-picture" src="{{ image.image.url }}">

    <div id="guillotine-controls">
      <div id="guillotine-transform-controls">
          <button id="rotate-left-button">Rotate Left</button>
          <button id="rotate-right-button">Rotate Right</button>
      </div>
      <div id="guillotine-navigate-controls">
          <button id="zoom-in-button">Zoom In</button>
          <button id="zoom-out-button">Zoom Out</button>
      </div>
      <div id="guillotine-serverside-controls">
          <button id="process-button">Process</button>
      </div>
    </div> <!-- end #guillotine-controls -->
  </div> <!-- end #guillotine -->

  <!-- instantiate the plugin -->
  <script>
    // make sure the image is loaded using `onload` event, `complete` property
    // or image has width > 0
    window.onload = function() {
    
        // get the image
      let picture = $('#guillotine-picture');
      
      // set the dimensions we want for the cropped image
      picture.guillotine({width: 400, height: 300});

      // we can bind various actions, such as:
      // - rotate left
      $('#rotate-left-button').click( function(){
        picture.guillotine('rotateLeft');
      } );
      // - rotate right
      $('#rotate-right-button').click( function(){
        picture.guillotine('rotateRight');
      } );


      // - zoom in
      $('#zoom-in-button').click( function(){
        picture.guillotine('zoomIn');
      } );
      // - zoom out
      $('#zoom-out-button').click( function(){
        picture.guillotine('zoomOut');
      } );

      // - etc

      // Handle cropping instructions
      // - we use the `getData` function to get the cropping instructions
      // (as JSON)
      let instructions = picture.guillotine('getData');

      function sendToServer() {
        // this uses ajax to send the JSON to the server
        /* jQuery's `post` method takes the following args
           - POST URL
           - payload
           - callback (currently void)
        */ 
        $.post("process", instructions, () => {});

        // prevent reloading of the page
        event.preventDefault();
      }
      
      // - we then submit that data to the server
      // will look something like:
      // { scale: 1.4, angle: 270, x: 10, y: 20, w: 400, h: 300 }
      $('#process-button').click( function(){
        sendToServer();
      } );

      // Note: see
      // https://github.com/matiasgagliano/guillotine
      // for discussion of using callback/custom event to listen for changes
      // instead of manual submission

    }


  </script>
  
</body>
</html>